<footer class="footer">
      <div class="footer-top flex items-start justify-between">
        <div class="footer-logo">
          <div class="logo"><a class="block" href="index.html"><strong>diana</strong>mutfak</a></div>
        </div>
        <div class="footer-nav flex items-start">
          <div class="footer-nav-box"><span class="block">Corporate</span>
            <ul>
              <li><a class="block" href="javascript:void(0);">About</a></li>
              <li><a class="block" href="javascript:void(0);">Kitchens</a></li>
              <li><a class="block" href="javascript:void(0);">Accessories</a></li>
              <li><a class="block" href="javascript:void(0);">Contact</a></li>
            </ul>
          </div>
          <div class="footer-nav-box"><span class="block">Categories</span>
            <ul>
              <li><a class="block" href="javascript:void(0);">The One Wall Kitchen</a></li>
              <li><a class="block" href="javascript:void(0);">The Galley Kitchen</a></li>
              <li><a class="block" href="javascript:void(0);">The L-Shaped Kitchen</a></li>
              <li><a class="block" href="javascript:void(0);">The U-Shaped Kitchen</a></li>
            </ul>
          </div>
          <div class="footer-nav-box"><span class="block">Other</span>
            <ul>
              <li><a class="block" href="javascript:void(0);">Terms of Use</a></li>
              <li><a class="block" href="javascript:void(0);">Cookies</a></li>
              <li><a class="block" href="javascript:void(0);">Privacy &amp; Policy</a></li>
              <li><a class="block" href="javascript:void(0);">Protection of Personal Data</a></li>
            </ul>
          </div>
          <div class="footer-nav-box"><span class="block">Contact</span>
            <ul>
              <li>
                <p>Yeşiltepe Mah. 74 Cad. N.140</p>
              </li>
              <li>
                <p>Zeytinburnu – İstanbul</p>
              </li>
              <li><a class="block" href="javascript:void(0);">Mail: info@dianadecor.com.tr</a></li>
              <li><a class="block" href="javascript:void(0);">Phone: +90 212 416 71 00</a></li>
            </ul>
          </div>
          <div class="footer-nav-box"><span class="block">Social Media</span>
            <ul>
              <li><a class="block" href="javascript:void(0);">Facebook</a></li>
              <li><a class="block" href="javascript:void(0);">Twitter</a></li>
              <li><a class="block" href="javascript:void(0);">Instagram</a></li>
              <li><a class="block" href="javascript:void(0);">YouTube</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-bottom flex justify-between"><span class="block">Copyright © 2020</span><a class="block" href="https://engintasarim.com/" target="_blank">Engin Tasarım</a></div>
    </footer>
    <script src="/assets/site/js/bundle.js"></script>
  </body>
</html>