</main>
    {# <aside class="rightbar fixed"></aside> #}
    <script src="/assets/js/jquery-ui.min.js"></script>
    <script src="/assets/js/datatables.min.js"></script>
    <script src="/assets/js/select2.min.js"></script>
    <script src="/assets/js/moment.min.js"></script>
    <script src="/assets/js/daterangepicker.min.js"></script>
    <script src="/assets/js/index.js"></script>
  </body>
</html>